<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.LdcustomeraddressDao">
  <resultMap id="BaseResultMap" type="com.sinosoft.service.business.ui.CustomerID.bean.Ldcustomeraddress">
    <id column="CIFID" jdbcType="VARCHAR" property="cifid" />
    <result column="LDCUSTOMERNO" jdbcType="VARCHAR" property="ldcustomerno" />
    <result column="RESIDENTIALADDRESSTYPE" jdbcType="VARCHAR" property="residentialaddresstype" />
    <result column="RESIDENTIALPROVINCE" jdbcType="VARCHAR" property="residentialprovince" />
    <result column="RESIDENTIALCITY" jdbcType="VARCHAR" property="residentialcity" />
    <result column="RESIDENTIALDISTRICT" jdbcType="VARCHAR" property="residentialdistrict" />
    <result column="RESIDENTIALDETAILEDADDRESS" jdbcType="VARCHAR" property="residentialdetailedaddress" />
    <result column="RESIDENTIALPOSTCODE" jdbcType="VARCHAR" property="residentialpostcode" />
    <result column="CONTACTADDRESSTYPE" jdbcType="VARCHAR" property="contactaddresstype" />
    <result column="CONTACTPROVINCE" jdbcType="VARCHAR" property="contactprovince" />
    <result column="CONTACTCITY" jdbcType="VARCHAR" property="contactcity" />
    <result column="CONTACTDISTRICT" jdbcType="VARCHAR" property="contactdistrict" />
    <result column="CONTACTDETAILEDADDRESS" jdbcType="VARCHAR" property="contactdetailedaddress" />
    <result column="CONTACTPOSTCODE" jdbcType="VARCHAR" property="contactpostcode" />
    <result column="HOMEADDRESSTYPE" jdbcType="VARCHAR" property="homeaddresstype" />
    <result column="HOMEPROVINCE" jdbcType="VARCHAR" property="homeprovince" />
    <result column="HOMECITY" jdbcType="VARCHAR" property="homecity" />
    <result column="HOMEDISTRICT" jdbcType="VARCHAR" property="homedistrict" />
    <result column="HOMEDETAILEDADDRESS" jdbcType="VARCHAR" property="homedetailedaddress" />
    <result column="HOMEPOSTCODE" jdbcType="VARCHAR" property="homepostcode" />
    <result column="PERMANENTADDRESSTYPE" jdbcType="VARCHAR" property="permanentaddresstype" />
    <result column="PERMANENTPROVINCE" jdbcType="VARCHAR" property="permanentprovince" />
    <result column="PERMANENTCITY" jdbcType="VARCHAR" property="permanentcity" />
    <result column="PERMANENTDISTRICT" jdbcType="VARCHAR" property="permanentdistrict" />
    <result column="PERMANENTDETAILEDADDRESS" jdbcType="VARCHAR" property="permanentdetailedaddress" />
    <result column="PERMANENTPOSTCODE" jdbcType="VARCHAR" property="permanentpostcode" />
    <result column="PREVIOUADDRESSTYPE" jdbcType="VARCHAR" property="previouaddresstype" />
    <result column="PREVIOUPROVINCE" jdbcType="VARCHAR" property="previouprovince" />
    <result column="PREVIOUCITY" jdbcType="VARCHAR" property="previoucity" />
    <result column="PREVIOUDISTRICT" jdbcType="VARCHAR" property="previoudistrict" />
    <result column="PREVIOUDETAILEDADDRESS" jdbcType="VARCHAR" property="previoudetailedaddress" />
    <result column="PREVIOUPOSTCODE" jdbcType="VARCHAR" property="previoupostcode" />
    <result column="PREVIOUCOMPANY" jdbcType="VARCHAR" property="previoucompany" />
    <result column="PREVIOUCOMPANYADDRESS" jdbcType="VARCHAR" property="previoucompanyaddress" />
    <result column="PREVIOUPOSITION" jdbcType="VARCHAR" property="previouposition" />
    <result column="PREVIOUINDUSTRYTYPE" jdbcType="VARCHAR" property="previouindustrytype" />
    <result column="PREVIOUOCCUPATION" jdbcType="VARCHAR" property="previouoccupation" />
    <result column="PREVIOUEMAILADDRESS" jdbcType="VARCHAR" property="previouemailaddress" />
    <result column="PREVIOUINCOME" jdbcType="VARCHAR" property="previouincome" />
    <result column="PREVIOUMARITALSTATUS" jdbcType="VARCHAR" property="previoumaritalstatus" />
    <result column="PREVIOUHEIGHT" jdbcType="VARCHAR" property="previouheight" />
    <result column="PREVIOUWEIGHT" jdbcType="VARCHAR" property="previouweight" />
    <result column="PREVIOUINCOMESOURCE" jdbcType="VARCHAR" property="previouincomesource" />
    <result column="PREVIOUWEALTHSOURCE" jdbcType="VARCHAR" property="previouwealthsource" />
    <result column="PREVIOUTELEPHONESOURCE" jdbcType="VARCHAR" property="previoutelephonesource" />
    <result column="PREVIOUHEALTHCARE" jdbcType="VARCHAR" property="previouhealthcare" />
    <result column="PREVIOUFAMILYINCOME" jdbcType="VARCHAR" property="previoufamilyincome" />
    <result column="ERESIDENTIALADDRESSTYPE" jdbcType="VARCHAR" property="eresidentialaddresstype" />
    <result column="ERESIDENTIALPROVINCE" jdbcType="VARCHAR" property="eresidentialprovince" />
    <result column="ERESIDENTIALCITY" jdbcType="VARCHAR" property="eresidentialcity" />
    <result column="ERESIDENTIALDISTRICT" jdbcType="VARCHAR" property="eresidentialdistrict" />
    <result column="ERESIDENTIALDETAILEDADDRESS" jdbcType="VARCHAR" property="eresidentialdetailedaddress" />
    <result column="COMPANYADDRESS1" jdbcType="VARCHAR" property="companyaddress1" />
    <result column="COMPANYADDRESS5" jdbcType="VARCHAR" property="companyaddress5" />
    <result column="COMPANYADDRESS4" jdbcType="VARCHAR" property="companyaddress4" />
    <result column="COMPANYADDRESS3" jdbcType="VARCHAR" property="companyaddress3" />
    <result column="COMPANYADDRESS2" jdbcType="VARCHAR" property="companyaddress2" />
    <result column="WORKADDRESSTYPE" jdbcType="VARCHAR" property="workaddresstype" />
    <result column="WORKCITY" jdbcType="VARCHAR" property="workcity" />
    <result column="WORKPROVINCE" jdbcType="VARCHAR" property="workprovince" />
    <result column="WORKPOSITION" jdbcType="VARCHAR" property="workposition" />
    <result column="WORKDETAILEDADDRESS" jdbcType="VARCHAR" property="workdetailedaddress" />
    <result column="WORKDISTRICT" jdbcType="VARCHAR" property="workdistrict" />
    <result column="OCCUPATION" jdbcType="VARCHAR" property="occupation" />
    <result column="INDUSTRYTYPE" jdbcType="VARCHAR" property="industrytype" />
    <result column="INCOME" jdbcType="VARCHAR" property="income" />
    <result column="EMAILADDRESS" jdbcType="VARCHAR" property="emailaddress" />
    <result column="FAMILYINCOME" jdbcType="VARCHAR" property="familyincome" />
    <result column="ECONTACTADDRESSTYPE" jdbcType="VARCHAR" property="econtactaddresstype" />
    <result column="ECONTACTPROVINCE" jdbcType="VARCHAR" property="econtactprovince" />
    <result column="ECONTACTCITY" jdbcType="VARCHAR" property="econtactcity" />
    <result column="ECONTACTDISTRICT" jdbcType="VARCHAR" property="econtactdistrict" />
    <result column="ECONTACTDETAILEDADDRESS" jdbcType="VARCHAR" property="econtactdetailedaddress" />
    <result column="EHOMEADDRESSTYPE" jdbcType="VARCHAR" property="ehomeaddresstype" />
    <result column="EHOMEPROVINCE" jdbcType="VARCHAR" property="ehomeprovince" />
    <result column="EHOMECITY" jdbcType="VARCHAR" property="ehomecity" />
    <result column="EHOMEDISTRICT" jdbcType="VARCHAR" property="ehomedistrict" />
    <result column="EHOMEDETAILEDADDRESS" jdbcType="VARCHAR" property="ehomedetailedaddress" />
    <result column="EPERMANENTADDRESSTYPE" jdbcType="VARCHAR" property="epermanentaddresstype" />
    <result column="EPERMANENTPROVINCE" jdbcType="VARCHAR" property="epermanentprovince" />
    <result column="EPERMANENTCITY" jdbcType="VARCHAR" property="epermanentcity" />
    <result column="EPERMANENTDISTRICT" jdbcType="VARCHAR" property="epermanentdistrict" />
    <result column="EPERMANENTDETAILEDADDRESS" jdbcType="VARCHAR" property="epermanentdetailedaddress" />
    <result column="EPREVIOUADDRESSTYPE" jdbcType="VARCHAR" property="epreviouaddresstype" />
    <result column="EPREVIOUPROVINCE" jdbcType="VARCHAR" property="epreviouprovince" />
    <result column="EPREVIOUCITY" jdbcType="VARCHAR" property="eprevioucity" />
    <result column="EPREVIOUDISTRICT" jdbcType="VARCHAR" property="eprevioudistrict" />
    <result column="EPREVIOUDETAILEDADDRESS" jdbcType="VARCHAR" property="eprevioudetailedaddress" />
  </resultMap>
  <sql id="Base_Column_List">
    CIFID, LDCUSTOMERNO, RESIDENTIALADDRESSTYPE, RESIDENTIALPROVINCE, RESIDENTIALCITY, 
    RESIDENTIALDISTRICT, RESIDENTIALDETAILEDADDRESS, RESIDENTIALPOSTCODE, CONTACTADDRESSTYPE, 
    CONTACTPROVINCE, CONTACTCITY, CONTACTDISTRICT, CONTACTDETAILEDADDRESS, CONTACTPOSTCODE, 
    HOMEADDRESSTYPE, HOMEPROVINCE, HOMECITY, HOMEDISTRICT, HOMEDETAILEDADDRESS, HOMEPOSTCODE, 
    PERMANENTADDRESSTYPE, PERMANENTPROVINCE, PERMANENTCITY, PERMANENTDISTRICT, PERMANENTDETAILEDADDRESS, 
    PERMANENTPOSTCODE, PREVIOUADDRESSTYPE, PREVIOUPROVINCE, PREVIOUCITY, PREVIOUDISTRICT, 
    PREVIOUDETAILEDADDRESS, PREVIOUPOSTCODE, PREVIOUCOMPANY, PREVIOUCOMPANYADDRESS, PREVIOUPOSITION, 
    PREVIOUINDUSTRYTYPE, PREVIOUOCCUPATION, PREVIOUEMAILADDRESS, PREVIOUINCOME, PREVIOUMARITALSTATUS, 
    PREVIOUHEIGHT, PREVIOUWEIGHT, PREVIOUINCOMESOURCE, PREVIOUWEALTHSOURCE, PREVIOUTELEPHONESOURCE, 
    PREVIOUHEALTHCARE, PREVIOUFAMILYINCOME, ERESIDENTIALADDRESSTYPE, ERESIDENTIALPROVINCE, 
    ERESIDENTIALCITY, ERESIDENTIALDISTRICT, ERESIDENTIALDETAILEDADDRESS, COMPANYADDRESS1, 
    COMPANYADDRESS5, COMPANYADDRESS4, COMPANYADDRESS3, COMPANYADDRESS2, WORKADDRESSTYPE, 
    WORKCITY, WORKPROVINCE, WORKPOSITION, WORKDETAILEDADDRESS, WORKDISTRICT, OCCUPATION, 
    INDUSTRYTYPE, INCOME, EMAILADDRESS, FAMILYINCOME, ECONTACTADDRESSTYPE, ECONTACTPROVINCE, 
    ECONTACTCITY, ECONTACTDISTRICT, ECONTACTDETAILEDADDRESS, EHOMEADDRESSTYPE, EHOMEPROVINCE, 
    EHOMECITY, EHOMEDISTRICT, EHOMEDETAILEDADDRESS, EPERMANENTADDRESSTYPE, EPERMANENTPROVINCE, 
    EPERMANENTCITY, EPERMANENTDISTRICT, EPERMANENTDETAILEDADDRESS, EPREVIOUADDRESSTYPE, 
    EPREVIOUPROVINCE, EPREVIOUCITY, EPREVIOUDISTRICT, EPREVIOUDETAILEDADDRESS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LDCUSTOMERADDRESS
    where CIFID = #{cifid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByCifid" parameterType="java.lang.String">
    delete from LDCUSTOMERADDRESS
    where CIFID = #{cifid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.service.business.ui.CustomerID.bean.Ldcustomeraddress">
    insert into LDCUSTOMERADDRESS (CIFID, LDCUSTOMERNO, RESIDENTIALADDRESSTYPE, 
      RESIDENTIALPROVINCE, RESIDENTIALCITY, RESIDENTIALDISTRICT, 
      RESIDENTIALDETAILEDADDRESS, RESIDENTIALPOSTCODE, 
      CONTACTADDRESSTYPE, CONTACTPROVINCE, CONTACTCITY, 
      CONTACTDISTRICT, CONTACTDETAILEDADDRESS, 
      CONTACTPOSTCODE, HOMEADDRESSTYPE, HOMEPROVINCE, 
      HOMECITY, HOMEDISTRICT, HOMEDETAILEDADDRESS, 
      HOMEPOSTCODE, PERMANENTADDRESSTYPE, PERMANENTPROVINCE, 
      PERMANENTCITY, PERMANENTDISTRICT, PERMANENTDETAILEDADDRESS, 
      PERMANENTPOSTCODE, PREVIOUADDRESSTYPE, 
      PREVIOUPROVINCE, PREVIOUCITY, PREVIOUDISTRICT, 
      PREVIOUDETAILEDADDRESS, PREVIOUPOSTCODE, 
      PREVIOUCOMPANY, PREVIOUCOMPANYADDRESS, 
      PREVIOUPOSITION, PREVIOUINDUSTRYTYPE, PREVIOUOCCUPATION, 
      PREVIOUEMAILADDRESS, PREVIOUINCOME, PREVIOUMARITALSTATUS, 
      PREVIOUHEIGHT, PREVIOUWEIGHT, PREVIOUINCOMESOURCE, 
      PREVIOUWEALTHSOURCE, PREVIOUTELEPHONESOURCE, 
      PREVIOUHEALTHCARE, PREVIOUFAMILYINCOME, 
      ERESIDENTIALADDRESSTYPE, ERESIDENTIALPROVINCE, 
      ERESIDENTIALCITY, ERESIDENTIALDISTRICT, 
      ERESIDENTIALDETAILEDADDRESS, COMPANYADDRESS1, 
      COMPANYADDRESS5, COMPANYADDRESS4, COMPANYADDRESS3, 
      COMPANYADDRESS2, WORKADDRESSTYPE, WORKCITY, 
      WORKPROVINCE, WORKPOSITION, WORKDETAILEDADDRESS, 
      WORKDISTRICT, OCCUPATION, INDUSTRYTYPE, 
      INCOME, EMAILADDRESS, FAMILYINCOME, 
      ECONTACTADDRESSTYPE, ECONTACTPROVINCE, 
      ECONTACTCITY, ECONTACTDISTRICT, ECONTACTDETAILEDADDRESS, 
      EHOMEADDRESSTYPE, EHOMEPROVINCE, EHOMECITY, 
      EHOMEDISTRICT, EHOMEDETAILEDADDRESS, EPERMANENTADDRESSTYPE, 
      EPERMANENTPROVINCE, EPERMANENTCITY, EPERMANENTDISTRICT, 
      EPERMANENTDETAILEDADDRESS, EPREVIOUADDRESSTYPE, 
      EPREVIOUPROVINCE, EPREVIOUCITY, EPREVIOUDISTRICT, 
      EPREVIOUDETAILEDADDRESS)
    values (#{cifid,jdbcType=VARCHAR}, #{ldcustomerno,jdbcType=VARCHAR}, #{residentialaddresstype,jdbcType=VARCHAR}, 
      #{residentialprovince,jdbcType=VARCHAR}, #{residentialcity,jdbcType=VARCHAR}, #{residentialdistrict,jdbcType=VARCHAR}, 
      #{residentialdetailedaddress,jdbcType=VARCHAR}, #{residentialpostcode,jdbcType=VARCHAR}, 
      #{contactaddresstype,jdbcType=VARCHAR}, #{contactprovince,jdbcType=VARCHAR}, #{contactcity,jdbcType=VARCHAR}, 
      #{contactdistrict,jdbcType=VARCHAR}, #{contactdetailedaddress,jdbcType=VARCHAR}, 
      #{contactpostcode,jdbcType=VARCHAR}, #{homeaddresstype,jdbcType=VARCHAR}, #{homeprovince,jdbcType=VARCHAR}, 
      #{homecity,jdbcType=VARCHAR}, #{homedistrict,jdbcType=VARCHAR}, #{homedetailedaddress,jdbcType=VARCHAR}, 
      #{homepostcode,jdbcType=VARCHAR}, #{permanentaddresstype,jdbcType=VARCHAR}, #{permanentprovince,jdbcType=VARCHAR}, 
      #{permanentcity,jdbcType=VARCHAR}, #{permanentdistrict,jdbcType=VARCHAR}, #{permanentdetailedaddress,jdbcType=VARCHAR}, 
      #{permanentpostcode,jdbcType=VARCHAR}, #{previouaddresstype,jdbcType=VARCHAR}, 
      #{previouprovince,jdbcType=VARCHAR}, #{previoucity,jdbcType=VARCHAR}, #{previoudistrict,jdbcType=VARCHAR}, 
      #{previoudetailedaddress,jdbcType=VARCHAR}, #{previoupostcode,jdbcType=VARCHAR}, 
      #{previoucompany,jdbcType=VARCHAR}, #{previoucompanyaddress,jdbcType=VARCHAR}, 
      #{previouposition,jdbcType=VARCHAR}, #{previouindustrytype,jdbcType=VARCHAR}, #{previouoccupation,jdbcType=VARCHAR}, 
      #{previouemailaddress,jdbcType=VARCHAR}, #{previouincome,jdbcType=VARCHAR}, #{previoumaritalstatus,jdbcType=VARCHAR}, 
      #{previouheight,jdbcType=VARCHAR}, #{previouweight,jdbcType=VARCHAR}, #{previouincomesource,jdbcType=VARCHAR}, 
      #{previouwealthsource,jdbcType=VARCHAR}, #{previoutelephonesource,jdbcType=VARCHAR}, 
      #{previouhealthcare,jdbcType=VARCHAR}, #{previoufamilyincome,jdbcType=VARCHAR}, 
      #{eresidentialaddresstype,jdbcType=VARCHAR}, #{eresidentialprovince,jdbcType=VARCHAR}, 
      #{eresidentialcity,jdbcType=VARCHAR}, #{eresidentialdistrict,jdbcType=VARCHAR}, 
      #{eresidentialdetailedaddress,jdbcType=VARCHAR}, #{companyaddress1,jdbcType=VARCHAR}, 
      #{companyaddress5,jdbcType=VARCHAR}, #{companyaddress4,jdbcType=VARCHAR}, #{companyaddress3,jdbcType=VARCHAR}, 
      #{companyaddress2,jdbcType=VARCHAR}, #{workaddresstype,jdbcType=VARCHAR}, #{workcity,jdbcType=VARCHAR}, 
      #{workprovince,jdbcType=VARCHAR}, #{workposition,jdbcType=VARCHAR}, #{workdetailedaddress,jdbcType=VARCHAR}, 
      #{workdistrict,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, #{industrytype,jdbcType=VARCHAR}, 
      #{income,jdbcType=VARCHAR}, #{emailaddress,jdbcType=VARCHAR}, #{familyincome,jdbcType=VARCHAR}, 
      #{econtactaddresstype,jdbcType=VARCHAR}, #{econtactprovince,jdbcType=VARCHAR}, 
      #{econtactcity,jdbcType=VARCHAR}, #{econtactdistrict,jdbcType=VARCHAR}, #{econtactdetailedaddress,jdbcType=VARCHAR}, 
      #{ehomeaddresstype,jdbcType=VARCHAR}, #{ehomeprovince,jdbcType=VARCHAR}, #{ehomecity,jdbcType=VARCHAR}, 
      #{ehomedistrict,jdbcType=VARCHAR}, #{ehomedetailedaddress,jdbcType=VARCHAR}, #{epermanentaddresstype,jdbcType=VARCHAR}, 
      #{epermanentprovince,jdbcType=VARCHAR}, #{epermanentcity,jdbcType=VARCHAR}, #{epermanentdistrict,jdbcType=VARCHAR}, 
      #{epermanentdetailedaddress,jdbcType=VARCHAR}, #{epreviouaddresstype,jdbcType=VARCHAR}, 
      #{epreviouprovince,jdbcType=VARCHAR}, #{eprevioucity,jdbcType=VARCHAR}, #{eprevioudistrict,jdbcType=VARCHAR}, 
      #{eprevioudetailedaddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.service.business.ui.CustomerID.bean.Ldcustomeraddress">
    insert into LDCUSTOMERADDRESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cifid != null">
        CIFID,
      </if>
      <if test="ldcustomerno != null">
        LDCUSTOMERNO,
      </if>
      <if test="residentialaddresstype != null">
        RESIDENTIALADDRESSTYPE,
      </if>
      <if test="residentialprovince != null">
        RESIDENTIALPROVINCE,
      </if>
      <if test="residentialcity != null">
        RESIDENTIALCITY,
      </if>
      <if test="residentialdistrict != null">
        RESIDENTIALDISTRICT,
      </if>
      <if test="residentialdetailedaddress != null">
        RESIDENTIALDETAILEDADDRESS,
      </if>
      <if test="residentialpostcode != null">
        RESIDENTIALPOSTCODE,
      </if>
      <if test="contactaddresstype != null">
        CONTACTADDRESSTYPE,
      </if>
      <if test="contactprovince != null">
        CONTACTPROVINCE,
      </if>
      <if test="contactcity != null">
        CONTACTCITY,
      </if>
      <if test="contactdistrict != null">
        CONTACTDISTRICT,
      </if>
      <if test="contactdetailedaddress != null">
        CONTACTDETAILEDADDRESS,
      </if>
      <if test="contactpostcode != null">
        CONTACTPOSTCODE,
      </if>
      <if test="homeaddresstype != null">
        HOMEADDRESSTYPE,
      </if>
      <if test="homeprovince != null">
        HOMEPROVINCE,
      </if>
      <if test="homecity != null">
        HOMECITY,
      </if>
      <if test="homedistrict != null">
        HOMEDISTRICT,
      </if>
      <if test="homedetailedaddress != null">
        HOMEDETAILEDADDRESS,
      </if>
      <if test="homepostcode != null">
        HOMEPOSTCODE,
      </if>
      <if test="permanentaddresstype != null">
        PERMANENTADDRESSTYPE,
      </if>
      <if test="permanentprovince != null">
        PERMANENTPROVINCE,
      </if>
      <if test="permanentcity != null">
        PERMANENTCITY,
      </if>
      <if test="permanentdistrict != null">
        PERMANENTDISTRICT,
      </if>
      <if test="permanentdetailedaddress != null">
        PERMANENTDETAILEDADDRESS,
      </if>
      <if test="permanentpostcode != null">
        PERMANENTPOSTCODE,
      </if>
      <if test="previouaddresstype != null">
        PREVIOUADDRESSTYPE,
      </if>
      <if test="previouprovince != null">
        PREVIOUPROVINCE,
      </if>
      <if test="previoucity != null">
        PREVIOUCITY,
      </if>
      <if test="previoudistrict != null">
        PREVIOUDISTRICT,
      </if>
      <if test="previoudetailedaddress != null">
        PREVIOUDETAILEDADDRESS,
      </if>
      <if test="previoupostcode != null">
        PREVIOUPOSTCODE,
      </if>
      <if test="previoucompany != null">
        PREVIOUCOMPANY,
      </if>
      <if test="previoucompanyaddress != null">
        PREVIOUCOMPANYADDRESS,
      </if>
      <if test="previouposition != null">
        PREVIOUPOSITION,
      </if>
      <if test="previouindustrytype != null">
        PREVIOUINDUSTRYTYPE,
      </if>
      <if test="previouoccupation != null">
        PREVIOUOCCUPATION,
      </if>
      <if test="previouemailaddress != null">
        PREVIOUEMAILADDRESS,
      </if>
      <if test="previouincome != null">
        PREVIOUINCOME,
      </if>
      <if test="previoumaritalstatus != null">
        PREVIOUMARITALSTATUS,
      </if>
      <if test="previouheight != null">
        PREVIOUHEIGHT,
      </if>
      <if test="previouweight != null">
        PREVIOUWEIGHT,
      </if>
      <if test="previouincomesource != null">
        PREVIOUINCOMESOURCE,
      </if>
      <if test="previouwealthsource != null">
        PREVIOUWEALTHSOURCE,
      </if>
      <if test="previoutelephonesource != null">
        PREVIOUTELEPHONESOURCE,
      </if>
      <if test="previouhealthcare != null">
        PREVIOUHEALTHCARE,
      </if>
      <if test="previoufamilyincome != null">
        PREVIOUFAMILYINCOME,
      </if>
      <if test="eresidentialaddresstype != null">
        ERESIDENTIALADDRESSTYPE,
      </if>
      <if test="eresidentialprovince != null">
        ERESIDENTIALPROVINCE,
      </if>
      <if test="eresidentialcity != null">
        ERESIDENTIALCITY,
      </if>
      <if test="eresidentialdistrict != null">
        ERESIDENTIALDISTRICT,
      </if>
      <if test="eresidentialdetailedaddress != null">
        ERESIDENTIALDETAILEDADDRESS,
      </if>
      <if test="companyaddress1 != null">
        COMPANYADDRESS1,
      </if>
      <if test="companyaddress5 != null">
        COMPANYADDRESS5,
      </if>
      <if test="companyaddress4 != null">
        COMPANYADDRESS4,
      </if>
      <if test="companyaddress3 != null">
        COMPANYADDRESS3,
      </if>
      <if test="companyaddress2 != null">
        COMPANYADDRESS2,
      </if>
      <if test="workaddresstype != null">
        WORKADDRESSTYPE,
      </if>
      <if test="workcity != null">
        WORKCITY,
      </if>
      <if test="workprovince != null">
        WORKPROVINCE,
      </if>
      <if test="workposition != null">
        WORKPOSITION,
      </if>
      <if test="workdetailedaddress != null">
        WORKDETAILEDADDRESS,
      </if>
      <if test="workdistrict != null">
        WORKDISTRICT,
      </if>
      <if test="occupation != null">
        OCCUPATION,
      </if>
      <if test="industrytype != null">
        INDUSTRYTYPE,
      </if>
      <if test="income != null">
        INCOME,
      </if>
      <if test="emailaddress != null">
        EMAILADDRESS,
      </if>
      <if test="familyincome != null">
        FAMILYINCOME,
      </if>
      <if test="econtactaddresstype != null">
        ECONTACTADDRESSTYPE,
      </if>
      <if test="econtactprovince != null">
        ECONTACTPROVINCE,
      </if>
      <if test="econtactcity != null">
        ECONTACTCITY,
      </if>
      <if test="econtactdistrict != null">
        ECONTACTDISTRICT,
      </if>
      <if test="econtactdetailedaddress != null">
        ECONTACTDETAILEDADDRESS,
      </if>
      <if test="ehomeaddresstype != null">
        EHOMEADDRESSTYPE,
      </if>
      <if test="ehomeprovince != null">
        EHOMEPROVINCE,
      </if>
      <if test="ehomecity != null">
        EHOMECITY,
      </if>
      <if test="ehomedistrict != null">
        EHOMEDISTRICT,
      </if>
      <if test="ehomedetailedaddress != null">
        EHOMEDETAILEDADDRESS,
      </if>
      <if test="epermanentaddresstype != null">
        EPERMANENTADDRESSTYPE,
      </if>
      <if test="epermanentprovince != null">
        EPERMANENTPROVINCE,
      </if>
      <if test="epermanentcity != null">
        EPERMANENTCITY,
      </if>
      <if test="epermanentdistrict != null">
        EPERMANENTDISTRICT,
      </if>
      <if test="epermanentdetailedaddress != null">
        EPERMANENTDETAILEDADDRESS,
      </if>
      <if test="epreviouaddresstype != null">
        EPREVIOUADDRESSTYPE,
      </if>
      <if test="epreviouprovince != null">
        EPREVIOUPROVINCE,
      </if>
      <if test="eprevioucity != null">
        EPREVIOUCITY,
      </if>
      <if test="eprevioudistrict != null">
        EPREVIOUDISTRICT,
      </if>
      <if test="eprevioudetailedaddress != null">
        EPREVIOUDETAILEDADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cifid != null">
        #{cifid,jdbcType=VARCHAR},
      </if>
      <if test="ldcustomerno != null">
        #{ldcustomerno,jdbcType=VARCHAR},
      </if>
      <if test="residentialaddresstype != null">
        #{residentialaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="residentialprovince != null">
        #{residentialprovince,jdbcType=VARCHAR},
      </if>
      <if test="residentialcity != null">
        #{residentialcity,jdbcType=VARCHAR},
      </if>
      <if test="residentialdistrict != null">
        #{residentialdistrict,jdbcType=VARCHAR},
      </if>
      <if test="residentialdetailedaddress != null">
        #{residentialdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="residentialpostcode != null">
        #{residentialpostcode,jdbcType=VARCHAR},
      </if>
      <if test="contactaddresstype != null">
        #{contactaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="contactprovince != null">
        #{contactprovince,jdbcType=VARCHAR},
      </if>
      <if test="contactcity != null">
        #{contactcity,jdbcType=VARCHAR},
      </if>
      <if test="contactdistrict != null">
        #{contactdistrict,jdbcType=VARCHAR},
      </if>
      <if test="contactdetailedaddress != null">
        #{contactdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="contactpostcode != null">
        #{contactpostcode,jdbcType=VARCHAR},
      </if>
      <if test="homeaddresstype != null">
        #{homeaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="homeprovince != null">
        #{homeprovince,jdbcType=VARCHAR},
      </if>
      <if test="homecity != null">
        #{homecity,jdbcType=VARCHAR},
      </if>
      <if test="homedistrict != null">
        #{homedistrict,jdbcType=VARCHAR},
      </if>
      <if test="homedetailedaddress != null">
        #{homedetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="homepostcode != null">
        #{homepostcode,jdbcType=VARCHAR},
      </if>
      <if test="permanentaddresstype != null">
        #{permanentaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="permanentprovince != null">
        #{permanentprovince,jdbcType=VARCHAR},
      </if>
      <if test="permanentcity != null">
        #{permanentcity,jdbcType=VARCHAR},
      </if>
      <if test="permanentdistrict != null">
        #{permanentdistrict,jdbcType=VARCHAR},
      </if>
      <if test="permanentdetailedaddress != null">
        #{permanentdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="permanentpostcode != null">
        #{permanentpostcode,jdbcType=VARCHAR},
      </if>
      <if test="previouaddresstype != null">
        #{previouaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="previouprovince != null">
        #{previouprovince,jdbcType=VARCHAR},
      </if>
      <if test="previoucity != null">
        #{previoucity,jdbcType=VARCHAR},
      </if>
      <if test="previoudistrict != null">
        #{previoudistrict,jdbcType=VARCHAR},
      </if>
      <if test="previoudetailedaddress != null">
        #{previoudetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="previoupostcode != null">
        #{previoupostcode,jdbcType=VARCHAR},
      </if>
      <if test="previoucompany != null">
        #{previoucompany,jdbcType=VARCHAR},
      </if>
      <if test="previoucompanyaddress != null">
        #{previoucompanyaddress,jdbcType=VARCHAR},
      </if>
      <if test="previouposition != null">
        #{previouposition,jdbcType=VARCHAR},
      </if>
      <if test="previouindustrytype != null">
        #{previouindustrytype,jdbcType=VARCHAR},
      </if>
      <if test="previouoccupation != null">
        #{previouoccupation,jdbcType=VARCHAR},
      </if>
      <if test="previouemailaddress != null">
        #{previouemailaddress,jdbcType=VARCHAR},
      </if>
      <if test="previouincome != null">
        #{previouincome,jdbcType=VARCHAR},
      </if>
      <if test="previoumaritalstatus != null">
        #{previoumaritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="previouheight != null">
        #{previouheight,jdbcType=VARCHAR},
      </if>
      <if test="previouweight != null">
        #{previouweight,jdbcType=VARCHAR},
      </if>
      <if test="previouincomesource != null">
        #{previouincomesource,jdbcType=VARCHAR},
      </if>
      <if test="previouwealthsource != null">
        #{previouwealthsource,jdbcType=VARCHAR},
      </if>
      <if test="previoutelephonesource != null">
        #{previoutelephonesource,jdbcType=VARCHAR},
      </if>
      <if test="previouhealthcare != null">
        #{previouhealthcare,jdbcType=VARCHAR},
      </if>
      <if test="previoufamilyincome != null">
        #{previoufamilyincome,jdbcType=VARCHAR},
      </if>
      <if test="eresidentialaddresstype != null">
        #{eresidentialaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="eresidentialprovince != null">
        #{eresidentialprovince,jdbcType=VARCHAR},
      </if>
      <if test="eresidentialcity != null">
        #{eresidentialcity,jdbcType=VARCHAR},
      </if>
      <if test="eresidentialdistrict != null">
        #{eresidentialdistrict,jdbcType=VARCHAR},
      </if>
      <if test="eresidentialdetailedaddress != null">
        #{eresidentialdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress1 != null">
        #{companyaddress1,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress5 != null">
        #{companyaddress5,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress4 != null">
        #{companyaddress4,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress3 != null">
        #{companyaddress3,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress2 != null">
        #{companyaddress2,jdbcType=VARCHAR},
      </if>
      <if test="workaddresstype != null">
        #{workaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="workcity != null">
        #{workcity,jdbcType=VARCHAR},
      </if>
      <if test="workprovince != null">
        #{workprovince,jdbcType=VARCHAR},
      </if>
      <if test="workposition != null">
        #{workposition,jdbcType=VARCHAR},
      </if>
      <if test="workdetailedaddress != null">
        #{workdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="workdistrict != null">
        #{workdistrict,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="industrytype != null">
        #{industrytype,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        #{income,jdbcType=VARCHAR},
      </if>
      <if test="emailaddress != null">
        #{emailaddress,jdbcType=VARCHAR},
      </if>
      <if test="familyincome != null">
        #{familyincome,jdbcType=VARCHAR},
      </if>
      <if test="econtactaddresstype != null">
        #{econtactaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="econtactprovince != null">
        #{econtactprovince,jdbcType=VARCHAR},
      </if>
      <if test="econtactcity != null">
        #{econtactcity,jdbcType=VARCHAR},
      </if>
      <if test="econtactdistrict != null">
        #{econtactdistrict,jdbcType=VARCHAR},
      </if>
      <if test="econtactdetailedaddress != null">
        #{econtactdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="ehomeaddresstype != null">
        #{ehomeaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="ehomeprovince != null">
        #{ehomeprovince,jdbcType=VARCHAR},
      </if>
      <if test="ehomecity != null">
        #{ehomecity,jdbcType=VARCHAR},
      </if>
      <if test="ehomedistrict != null">
        #{ehomedistrict,jdbcType=VARCHAR},
      </if>
      <if test="ehomedetailedaddress != null">
        #{ehomedetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="epermanentaddresstype != null">
        #{epermanentaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="epermanentprovince != null">
        #{epermanentprovince,jdbcType=VARCHAR},
      </if>
      <if test="epermanentcity != null">
        #{epermanentcity,jdbcType=VARCHAR},
      </if>
      <if test="epermanentdistrict != null">
        #{epermanentdistrict,jdbcType=VARCHAR},
      </if>
      <if test="epermanentdetailedaddress != null">
        #{epermanentdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="epreviouaddresstype != null">
        #{epreviouaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="epreviouprovince != null">
        #{epreviouprovince,jdbcType=VARCHAR},
      </if>
      <if test="eprevioucity != null">
        #{eprevioucity,jdbcType=VARCHAR},
      </if>
      <if test="eprevioudistrict != null">
        #{eprevioudistrict,jdbcType=VARCHAR},
      </if>
      <if test="eprevioudetailedaddress != null">
        #{eprevioudetailedaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.service.business.ui.CustomerID.bean.Ldcustomeraddress">
    update LDCUSTOMERADDRESS
    <set>
      <if test="ldcustomerno != null">
        LDCUSTOMERNO = #{ldcustomerno,jdbcType=VARCHAR},
      </if>
      <if test="residentialaddresstype != null">
        RESIDENTIALADDRESSTYPE = #{residentialaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="residentialprovince != null">
        RESIDENTIALPROVINCE = #{residentialprovince,jdbcType=VARCHAR},
      </if>
      <if test="residentialcity != null">
        RESIDENTIALCITY = #{residentialcity,jdbcType=VARCHAR},
      </if>
      <if test="residentialdistrict != null">
        RESIDENTIALDISTRICT = #{residentialdistrict,jdbcType=VARCHAR},
      </if>
      <if test="residentialdetailedaddress != null">
        RESIDENTIALDETAILEDADDRESS = #{residentialdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="residentialpostcode != null">
        RESIDENTIALPOSTCODE = #{residentialpostcode,jdbcType=VARCHAR},
      </if>
      <if test="contactaddresstype != null">
        CONTACTADDRESSTYPE = #{contactaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="contactprovince != null">
        CONTACTPROVINCE = #{contactprovince,jdbcType=VARCHAR},
      </if>
      <if test="contactcity != null">
        CONTACTCITY = #{contactcity,jdbcType=VARCHAR},
      </if>
      <if test="contactdistrict != null">
        CONTACTDISTRICT = #{contactdistrict,jdbcType=VARCHAR},
      </if>
      <if test="contactdetailedaddress != null">
        CONTACTDETAILEDADDRESS = #{contactdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="contactpostcode != null">
        CONTACTPOSTCODE = #{contactpostcode,jdbcType=VARCHAR},
      </if>
      <if test="homeaddresstype != null">
        HOMEADDRESSTYPE = #{homeaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="homeprovince != null">
        HOMEPROVINCE = #{homeprovince,jdbcType=VARCHAR},
      </if>
      <if test="homecity != null">
        HOMECITY = #{homecity,jdbcType=VARCHAR},
      </if>
      <if test="homedistrict != null">
        HOMEDISTRICT = #{homedistrict,jdbcType=VARCHAR},
      </if>
      <if test="homedetailedaddress != null">
        HOMEDETAILEDADDRESS = #{homedetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="homepostcode != null">
        HOMEPOSTCODE = #{homepostcode,jdbcType=VARCHAR},
      </if>
      <if test="permanentaddresstype != null">
        PERMANENTADDRESSTYPE = #{permanentaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="permanentprovince != null">
        PERMANENTPROVINCE = #{permanentprovince,jdbcType=VARCHAR},
      </if>
      <if test="permanentcity != null">
        PERMANENTCITY = #{permanentcity,jdbcType=VARCHAR},
      </if>
      <if test="permanentdistrict != null">
        PERMANENTDISTRICT = #{permanentdistrict,jdbcType=VARCHAR},
      </if>
      <if test="permanentdetailedaddress != null">
        PERMANENTDETAILEDADDRESS = #{permanentdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="permanentpostcode != null">
        PERMANENTPOSTCODE = #{permanentpostcode,jdbcType=VARCHAR},
      </if>
      <if test="previouaddresstype != null">
        PREVIOUADDRESSTYPE = #{previouaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="previouprovince != null">
        PREVIOUPROVINCE = #{previouprovince,jdbcType=VARCHAR},
      </if>
      <if test="previoucity != null">
        PREVIOUCITY = #{previoucity,jdbcType=VARCHAR},
      </if>
      <if test="previoudistrict != null">
        PREVIOUDISTRICT = #{previoudistrict,jdbcType=VARCHAR},
      </if>
      <if test="previoudetailedaddress != null">
        PREVIOUDETAILEDADDRESS = #{previoudetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="previoupostcode != null">
        PREVIOUPOSTCODE = #{previoupostcode,jdbcType=VARCHAR},
      </if>
      <if test="previoucompany != null">
        PREVIOUCOMPANY = #{previoucompany,jdbcType=VARCHAR},
      </if>
      <if test="previoucompanyaddress != null">
        PREVIOUCOMPANYADDRESS = #{previoucompanyaddress,jdbcType=VARCHAR},
      </if>
      <if test="previouposition != null">
        PREVIOUPOSITION = #{previouposition,jdbcType=VARCHAR},
      </if>
      <if test="previouindustrytype != null">
        PREVIOUINDUSTRYTYPE = #{previouindustrytype,jdbcType=VARCHAR},
      </if>
      <if test="previouoccupation != null">
        PREVIOUOCCUPATION = #{previouoccupation,jdbcType=VARCHAR},
      </if>
      <if test="previouemailaddress != null">
        PREVIOUEMAILADDRESS = #{previouemailaddress,jdbcType=VARCHAR},
      </if>
      <if test="previouincome != null">
        PREVIOUINCOME = #{previouincome,jdbcType=VARCHAR},
      </if>
      <if test="previoumaritalstatus != null">
        PREVIOUMARITALSTATUS = #{previoumaritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="previouheight != null">
        PREVIOUHEIGHT = #{previouheight,jdbcType=VARCHAR},
      </if>
      <if test="previouweight != null">
        PREVIOUWEIGHT = #{previouweight,jdbcType=VARCHAR},
      </if>
      <if test="previouincomesource != null">
        PREVIOUINCOMESOURCE = #{previouincomesource,jdbcType=VARCHAR},
      </if>
      <if test="previouwealthsource != null">
        PREVIOUWEALTHSOURCE = #{previouwealthsource,jdbcType=VARCHAR},
      </if>
      <if test="previoutelephonesource != null">
        PREVIOUTELEPHONESOURCE = #{previoutelephonesource,jdbcType=VARCHAR},
      </if>
      <if test="previouhealthcare != null">
        PREVIOUHEALTHCARE = #{previouhealthcare,jdbcType=VARCHAR},
      </if>
      <if test="previoufamilyincome != null">
        PREVIOUFAMILYINCOME = #{previoufamilyincome,jdbcType=VARCHAR},
      </if>
      <if test="eresidentialaddresstype != null">
        ERESIDENTIALADDRESSTYPE = #{eresidentialaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="eresidentialprovince != null">
        ERESIDENTIALPROVINCE = #{eresidentialprovince,jdbcType=VARCHAR},
      </if>
      <if test="eresidentialcity != null">
        ERESIDENTIALCITY = #{eresidentialcity,jdbcType=VARCHAR},
      </if>
      <if test="eresidentialdistrict != null">
        ERESIDENTIALDISTRICT = #{eresidentialdistrict,jdbcType=VARCHAR},
      </if>
      <if test="eresidentialdetailedaddress != null">
        ERESIDENTIALDETAILEDADDRESS = #{eresidentialdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress1 != null">
        COMPANYADDRESS1 = #{companyaddress1,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress5 != null">
        COMPANYADDRESS5 = #{companyaddress5,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress4 != null">
        COMPANYADDRESS4 = #{companyaddress4,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress3 != null">
        COMPANYADDRESS3 = #{companyaddress3,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress2 != null">
        COMPANYADDRESS2 = #{companyaddress2,jdbcType=VARCHAR},
      </if>
      <if test="workaddresstype != null">
        WORKADDRESSTYPE = #{workaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="workcity != null">
        WORKCITY = #{workcity,jdbcType=VARCHAR},
      </if>
      <if test="workprovince != null">
        WORKPROVINCE = #{workprovince,jdbcType=VARCHAR},
      </if>
      <if test="workposition != null">
        WORKPOSITION = #{workposition,jdbcType=VARCHAR},
      </if>
      <if test="workdetailedaddress != null">
        WORKDETAILEDADDRESS = #{workdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="workdistrict != null">
        WORKDISTRICT = #{workdistrict,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        OCCUPATION = #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="industrytype != null">
        INDUSTRYTYPE = #{industrytype,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        INCOME = #{income,jdbcType=VARCHAR},
      </if>
      <if test="emailaddress != null">
        EMAILADDRESS = #{emailaddress,jdbcType=VARCHAR},
      </if>
      <if test="familyincome != null">
        FAMILYINCOME = #{familyincome,jdbcType=VARCHAR},
      </if>
      <if test="econtactaddresstype != null">
        ECONTACTADDRESSTYPE = #{econtactaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="econtactprovince != null">
        ECONTACTPROVINCE = #{econtactprovince,jdbcType=VARCHAR},
      </if>
      <if test="econtactcity != null">
        ECONTACTCITY = #{econtactcity,jdbcType=VARCHAR},
      </if>
      <if test="econtactdistrict != null">
        ECONTACTDISTRICT = #{econtactdistrict,jdbcType=VARCHAR},
      </if>
      <if test="econtactdetailedaddress != null">
        ECONTACTDETAILEDADDRESS = #{econtactdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="ehomeaddresstype != null">
        EHOMEADDRESSTYPE = #{ehomeaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="ehomeprovince != null">
        EHOMEPROVINCE = #{ehomeprovince,jdbcType=VARCHAR},
      </if>
      <if test="ehomecity != null">
        EHOMECITY = #{ehomecity,jdbcType=VARCHAR},
      </if>
      <if test="ehomedistrict != null">
        EHOMEDISTRICT = #{ehomedistrict,jdbcType=VARCHAR},
      </if>
      <if test="ehomedetailedaddress != null">
        EHOMEDETAILEDADDRESS = #{ehomedetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="epermanentaddresstype != null">
        EPERMANENTADDRESSTYPE = #{epermanentaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="epermanentprovince != null">
        EPERMANENTPROVINCE = #{epermanentprovince,jdbcType=VARCHAR},
      </if>
      <if test="epermanentcity != null">
        EPERMANENTCITY = #{epermanentcity,jdbcType=VARCHAR},
      </if>
      <if test="epermanentdistrict != null">
        EPERMANENTDISTRICT = #{epermanentdistrict,jdbcType=VARCHAR},
      </if>
      <if test="epermanentdetailedaddress != null">
        EPERMANENTDETAILEDADDRESS = #{epermanentdetailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="epreviouaddresstype != null">
        EPREVIOUADDRESSTYPE = #{epreviouaddresstype,jdbcType=VARCHAR},
      </if>
      <if test="epreviouprovince != null">
        EPREVIOUPROVINCE = #{epreviouprovince,jdbcType=VARCHAR},
      </if>
      <if test="eprevioucity != null">
        EPREVIOUCITY = #{eprevioucity,jdbcType=VARCHAR},
      </if>
      <if test="eprevioudistrict != null">
        EPREVIOUDISTRICT = #{eprevioudistrict,jdbcType=VARCHAR},
      </if>
      <if test="eprevioudetailedaddress != null">
        EPREVIOUDETAILEDADDRESS = #{eprevioudetailedaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where CIFID = #{cifid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.service.business.ui.CustomerID.bean.Ldcustomeraddress">
    update LDCUSTOMERADDRESS
    set LDCUSTOMERNO = #{ldcustomerno,jdbcType=VARCHAR},
      RESIDENTIALADDRESSTYPE = #{residentialaddresstype,jdbcType=VARCHAR},
      RESIDENTIALPROVINCE = #{residentialprovince,jdbcType=VARCHAR},
      RESIDENTIALCITY = #{residentialcity,jdbcType=VARCHAR},
      RESIDENTIALDISTRICT = #{residentialdistrict,jdbcType=VARCHAR},
      RESIDENTIALDETAILEDADDRESS = #{residentialdetailedaddress,jdbcType=VARCHAR},
      RESIDENTIALPOSTCODE = #{residentialpostcode,jdbcType=VARCHAR},
      CONTACTADDRESSTYPE = #{contactaddresstype,jdbcType=VARCHAR},
      CONTACTPROVINCE = #{contactprovince,jdbcType=VARCHAR},
      CONTACTCITY = #{contactcity,jdbcType=VARCHAR},
      CONTACTDISTRICT = #{contactdistrict,jdbcType=VARCHAR},
      CONTACTDETAILEDADDRESS = #{contactdetailedaddress,jdbcType=VARCHAR},
      CONTACTPOSTCODE = #{contactpostcode,jdbcType=VARCHAR},
      HOMEADDRESSTYPE = #{homeaddresstype,jdbcType=VARCHAR},
      HOMEPROVINCE = #{homeprovince,jdbcType=VARCHAR},
      HOMECITY = #{homecity,jdbcType=VARCHAR},
      HOMEDISTRICT = #{homedistrict,jdbcType=VARCHAR},
      HOMEDETAILEDADDRESS = #{homedetailedaddress,jdbcType=VARCHAR},
      HOMEPOSTCODE = #{homepostcode,jdbcType=VARCHAR},
      PERMANENTADDRESSTYPE = #{permanentaddresstype,jdbcType=VARCHAR},
      PERMANENTPROVINCE = #{permanentprovince,jdbcType=VARCHAR},
      PERMANENTCITY = #{permanentcity,jdbcType=VARCHAR},
      PERMANENTDISTRICT = #{permanentdistrict,jdbcType=VARCHAR},
      PERMANENTDETAILEDADDRESS = #{permanentdetailedaddress,jdbcType=VARCHAR},
      PERMANENTPOSTCODE = #{permanentpostcode,jdbcType=VARCHAR},
      PREVIOUADDRESSTYPE = #{previouaddresstype,jdbcType=VARCHAR},
      PREVIOUPROVINCE = #{previouprovince,jdbcType=VARCHAR},
      PREVIOUCITY = #{previoucity,jdbcType=VARCHAR},
      PREVIOUDISTRICT = #{previoudistrict,jdbcType=VARCHAR},
      PREVIOUDETAILEDADDRESS = #{previoudetailedaddress,jdbcType=VARCHAR},
      PREVIOUPOSTCODE = #{previoupostcode,jdbcType=VARCHAR},
      PREVIOUCOMPANY = #{previoucompany,jdbcType=VARCHAR},
      PREVIOUCOMPANYADDRESS = #{previoucompanyaddress,jdbcType=VARCHAR},
      PREVIOUPOSITION = #{previouposition,jdbcType=VARCHAR},
      PREVIOUINDUSTRYTYPE = #{previouindustrytype,jdbcType=VARCHAR},
      PREVIOUOCCUPATION = #{previouoccupation,jdbcType=VARCHAR},
      PREVIOUEMAILADDRESS = #{previouemailaddress,jdbcType=VARCHAR},
      PREVIOUINCOME = #{previouincome,jdbcType=VARCHAR},
      PREVIOUMARITALSTATUS = #{previoumaritalstatus,jdbcType=VARCHAR},
      PREVIOUHEIGHT = #{previouheight,jdbcType=VARCHAR},
      PREVIOUWEIGHT = #{previouweight,jdbcType=VARCHAR},
      PREVIOUINCOMESOURCE = #{previouincomesource,jdbcType=VARCHAR},
      PREVIOUWEALTHSOURCE = #{previouwealthsource,jdbcType=VARCHAR},
      PREVIOUTELEPHONESOURCE = #{previoutelephonesource,jdbcType=VARCHAR},
      PREVIOUHEALTHCARE = #{previouhealthcare,jdbcType=VARCHAR},
      PREVIOUFAMILYINCOME = #{previoufamilyincome,jdbcType=VARCHAR},
      ERESIDENTIALADDRESSTYPE = #{eresidentialaddresstype,jdbcType=VARCHAR},
      ERESIDENTIALPROVINCE = #{eresidentialprovince,jdbcType=VARCHAR},
      ERESIDENTIALCITY = #{eresidentialcity,jdbcType=VARCHAR},
      ERESIDENTIALDISTRICT = #{eresidentialdistrict,jdbcType=VARCHAR},
      ERESIDENTIALDETAILEDADDRESS = #{eresidentialdetailedaddress,jdbcType=VARCHAR},
      COMPANYADDRESS1 = #{companyaddress1,jdbcType=VARCHAR},
      COMPANYADDRESS5 = #{companyaddress5,jdbcType=VARCHAR},
      COMPANYADDRESS4 = #{companyaddress4,jdbcType=VARCHAR},
      COMPANYADDRESS3 = #{companyaddress3,jdbcType=VARCHAR},
      COMPANYADDRESS2 = #{companyaddress2,jdbcType=VARCHAR},
      WORKADDRESSTYPE = #{workaddresstype,jdbcType=VARCHAR},
      WORKCITY = #{workcity,jdbcType=VARCHAR},
      WORKPROVINCE = #{workprovince,jdbcType=VARCHAR},
      WORKPOSITION = #{workposition,jdbcType=VARCHAR},
      WORKDETAILEDADDRESS = #{workdetailedaddress,jdbcType=VARCHAR},
      WORKDISTRICT = #{workdistrict,jdbcType=VARCHAR},
      OCCUPATION = #{occupation,jdbcType=VARCHAR},
      INDUSTRYTYPE = #{industrytype,jdbcType=VARCHAR},
      INCOME = #{income,jdbcType=VARCHAR},
      EMAILADDRESS = #{emailaddress,jdbcType=VARCHAR},
      FAMILYINCOME = #{familyincome,jdbcType=VARCHAR},
      ECONTACTADDRESSTYPE = #{econtactaddresstype,jdbcType=VARCHAR},
      ECONTACTPROVINCE = #{econtactprovince,jdbcType=VARCHAR},
      ECONTACTCITY = #{econtactcity,jdbcType=VARCHAR},
      ECONTACTDISTRICT = #{econtactdistrict,jdbcType=VARCHAR},
      ECONTACTDETAILEDADDRESS = #{econtactdetailedaddress,jdbcType=VARCHAR},
      EHOMEADDRESSTYPE = #{ehomeaddresstype,jdbcType=VARCHAR},
      EHOMEPROVINCE = #{ehomeprovince,jdbcType=VARCHAR},
      EHOMECITY = #{ehomecity,jdbcType=VARCHAR},
      EHOMEDISTRICT = #{ehomedistrict,jdbcType=VARCHAR},
      EHOMEDETAILEDADDRESS = #{ehomedetailedaddress,jdbcType=VARCHAR},
      EPERMANENTADDRESSTYPE = #{epermanentaddresstype,jdbcType=VARCHAR},
      EPERMANENTPROVINCE = #{epermanentprovince,jdbcType=VARCHAR},
      EPERMANENTCITY = #{epermanentcity,jdbcType=VARCHAR},
      EPERMANENTDISTRICT = #{epermanentdistrict,jdbcType=VARCHAR},
      EPERMANENTDETAILEDADDRESS = #{epermanentdetailedaddress,jdbcType=VARCHAR},
      EPREVIOUADDRESSTYPE = #{epreviouaddresstype,jdbcType=VARCHAR},
      EPREVIOUPROVINCE = #{epreviouprovince,jdbcType=VARCHAR},
      EPREVIOUCITY = #{eprevioucity,jdbcType=VARCHAR},
      EPREVIOUDISTRICT = #{eprevioudistrict,jdbcType=VARCHAR},
      EPREVIOUDETAILEDADDRESS = #{eprevioudetailedaddress,jdbcType=VARCHAR}
    where CIFID = #{cifid,jdbcType=VARCHAR}
  </update>
  
  	<select id="SelectLdcustomerno"  resultType="String">
	  	  select SEQ_LDCUSTOMERADDRESSNO.nextval from dual
	</select>
  
 
</mapper>